{% extends "SioSemiBundle::layout.html.twig" %}
{% set menuItemActive = 'manager' %}
{% block content %}
 <h2>Welcome to the Manager:data export : {{seminar.description}}</h2>
 nb inscrits : {{allRegistrations | length - 1 }} --  <a href="{{ path('_semi_manager_export_csv') }}">Exportation CSV</a>
 <table class="table table-striped">
   <tbody>
 {% for row in allRegistrations %}
   <tr>
  {% if loop.index0 == 0 %}
    {% for data in row %}
      {% if data.type is not empty %}
         <th class = '{{data.type | e("css")}}'>{{data.name}}</th>
      {% else %}  
         <th>{{data.name}}</th>         
      {% endif %}  
    {% endfor %}
  {% else %}
    {% for data in row %}
      <td>{{data}}</td>
    {% endfor %}
  {% endif %}
   </tr>
   {% endfor %}
 </tbody>
   </table>
 
{% endblock %}
