{% extends "SioSemiBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <center><h2>Mes séminaires</h2></center>
            <hr>
            <div id="adminMenu">
                <div class="list-group">
                    {% set i = 1 %}
                    {% for tab in seminars %}
                        {% for seminar in tab %}
                            <a href="#" class="list-group-item" onMouseOver="overMenu($(this));" onMouseOut="outMenu($(this));" onClick="getMeetings('{{ i }}');">
                                <h4 class="list-group-item-heading">{{ seminar.name }} <small><i>(Du {{ seminar.dateStart|date("d/m/Y") }} au {{ seminar.dateEnd|date("d/m/Y") }} à {{ seminar.location }} : {{ seminar.comment }})</i></small></h4>
                                <br>
                                <p class="list-group-item-text">{{ seminar.description }}</p>
                            </a>
                            {% set i = i + 1 %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
                
            <div id="meetings" style="height:0px;visibility:hidden;opacity:0;">
                <center><h2>Séances disponibles</h2></center>
                <hr>
                <div id="contentMeetings">
                    {% set i = 1 %}
                    {% for tab in meetings %}
                        <ul id="meeting{{ i }}" class="list-group" style="height:0px;visibility:hidden;">
                        {% for meeting in tab %}
                            <li class="list-group-item" onMouseOver="overMenu($(this));" onMouseOut="outMenu($(this));" style="height:0px;visibility:hidden;"><strong>{{ meeting.description|raw }}</strong> <small>(0/{{ meeting.maxSeats }} places)</small> : <i>{{ meeting.type }}</i> du {{ meeting.dateStart|date('d/m/Y') }} au {{ meeting.dateEnd|date('d/m/Y') }}<br><br>Encadré par :<br>{{ meeting.stakeholders|raw }}</li>
                        {% endfor %}
                        </ul>
                        {% set i = i + 1 %}
                    {% endfor %}
                </div>
            </div>    
            
        </div>
    </div>
{% endblock %}