{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

  <script>
    /**
     * @param response is an objet JSon with 3 boolean properties:
     *   {clefOk: true|false, userKnown: true|false, emailSyntaxOk: true|false}
     * 
     * update UI from response server (after ajax command)
     */
    function login_doCheckKeyAndEmail(response) {
      var errors = new Array();
      console.log(response);
      if (response.clefOk) {
        // Seminar key is good 
        // console.log('clef OK');
        if (response.userKnown) {
          // console.log('user OK');
          updateUILoginAfterMailAndKeyOk();
        } else {
          // user unknow and cle OK
          if (response.emailSyntaxOk) {
            // invite user register
            // console.log('new user ?');
            updateUILoginForUserRegister();
          } else {
            // clef ok but : 
            //   unknown user
            //   and bad email syntax
            // stay here
            errors.push("Email invalide !");
          }
        }
      }
      else {
        errors.push("La clé n\'est PAS reconnue");
        if (!response.emailSyntaxOk) {
          errors.push("L'email n\'est PAS valide");
        }
      }
      $('#errors').html("");
      if (errors.length > 0) {
        var s = '<ul>';
        errors.forEach(function (entry) {
          // console.log(entry);
          s = s + '<li>' + entry + '</li>';
        });
        s = s + '</ul>';
        // alert(errors);
        $('#errors').html(s);
        $('#errors').show();
      } else {
        $('#errors').hide();
      }
    }

    /**
     * Send HTTP request asynchrone
     * 
     * @return
     */
    function login_verifKeyAndEmail() {
      var seminarClef = $('#seminar-clef').val();
      var emailUser = $('#login-username').val();
      $.ajax({
        url: "checkclef-mail",
        type: 'POST',
        cache: false,
        dataType: 'json',
         // la donnée reçue sera traduite automatiquement en objet JS par JQuery
        
        data: {"seminar-clef": seminarClef, "email-user": emailUser}, 
         // passage d'arguments à la requête HTTP
        
        success: function (responseJson, status) {
          // responseJson est la réponse reçue (preparsé en JSon par JQ)
          login_doCheckKeyAndEmail(responseJson);
        }
      });
    }

    /**
     * show UI user register
     * 
     */
    function updateUILoginForUserRegister() {
      $('#_submit').hide();
      $('#btn-fbcheckclef').hide();
      $('#btn-register').show();
      $('#seminar-clef').prop('readonly', true);
      $('#login-username').prop('readonly', true); //email
    }

    /**
     * redirect for register
     */
    function dologin_userRegister() {
      window.location = "register";
    }

    /**
     * set UI after check email and key
     * for input password
     */
    function updateUILoginAfterMailAndKeyOk() {
      $('#btn-register').hide();
      $('#btn-fbcheckclef').hide();
      $('#div-password').show();
      $('#seminar-clef').prop('readonly', true);
      $('#login-username').prop('readonly', true); //email
  
      $('#login-password').prop('required',true);
      $('#_submit').show();
      $('#forgot-pw').show();

      $('#div-seminar-clef').show();
      $('#login-panel-title').html('Inscription à un séminaire');
      $('#btn-cancel').show();
      $('#loginfooter').hide();
      $('#errors').hide();
    }

    /**
     * set UI for input email and password only
     */
    function updateLoginForDirectConnect() {
      $('#login-password').removeAttr('readonly');
      $('#login-username').removeAttr('readonly');
      $('#btn-register').hide();
      $('#btn-fbcheckclef').hide();
      $('#div-password').show();
      $('#login-password').prop('required',true);
      $('#login-username').prop('required',true); //email
      $('#_submit').show();
      $('#forgot-pw').show();
      $('#login-panel-title').html('Se connecter');
      $('#div-seminar-clef').hide();
      $('#a-inscr-seminar').show();
      $('#a-direct-connect').hide();
    }

    /**
     * set UI for input email and key first
     * 
     */
    function updateLoginForInscrSeminar() {
      $('#login-username').removeAttr('readonly');
      $('#seminar-clef').removeAttr('readonly');
      $('#btn-register').hide();
      $('#btn-fbcheckclef').show();
      $('#div-seminar-clef').show();
      $('#login-password').removeAttr("required");
      $('#div-password').hide();
      $('#_submit').hide();
      $('#forgot-pw').hide();
      $('#a-inscr-seminar').hide();
      $('#a-direct-connect').show();
      $('#login-panel-title').html('Inscription à un séminaire');
    }

    function validateSubmit() {
      if ($('#_submit').is(":visible") == true)
        return true;
      
      return false;  
    }
  </script>

  <div  style="margin-top:20px;" 
        class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    

    {% if error %}
      <div id="errors" class="alert alert-danger">
        <strong>Connexion impossible !</strong> : 
           {{ error.messageKey|trans(error.messageData, 'security') }}
      </div>
    {% else %}
      <div id="errors" class="alert alert-danger" style="display:none">
      </div>
    {% endif %}

    <div class="panel panel-info">
      <div class="panel-heading">
        <div id="login-panel-title" 
              class="panel-title">Inscription à un séminaire</div>
        <div id="forgot-pw" 
             style="float:right; font-size: 80%; position: relative; top:-10px;
                    display:none">
             <a href="{{ path('fos_user_resetting_request') }}">
             <span class="glyphicon glyphicon-question-sign"> </span> 
               Mot de passe perdu</a>
        </div>
      </div>     

      <div style="padding-top:20px" class="panel-body">
        <div style="display:none" id="login-alert" 
             class="alert alert-danger col-sm-12">               
        </div>
        <form action="{{ path("fos_user_security_check") }}" 
              onsubmit="return validateSubmit()"
              method="post" id="loginform" class="form-horizontal" role="form">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

          <div style="margin-bottom: 20px" class="input-group">
            <span class="input-group-addon">@</span>
            <input id="login-username" type="email" 
                class="form-control" name="_username" 
                value="{{ last_username }}" placeholder="email">
          </div>

          {% set semiKey = app.session.get('seminarClef', '') %}
          <div id="div-seminar-clef" style="margin-bottom: 20px" 
               class="input-group">
            <span class="input-group-addon">
              <span class='glyphicon glyphicon-hand-right' aria-hidden="true">             
              </span>
            </span>
            <input id="seminar-clef" type="password" class="form-control" 
                   name="_clef" placeholder="clef du séminaire" value="{{semiKey}}"/>
          </div>

          {# default hidden #}
          <div id="div-password" style="margin-bottom: 20px; display:none" 
               class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock"></span>
            </span>
            <input id="login-password" type="password" 
               class="form-control" name="_password" placeholder="password">
          </div>

          {#
          <div class="input-group">
            <div class="checkbox">
              <label>
                <input id="login-remember" type="checkbox" 
                      name="_remember_me" value="on"> 
                       {{ 'security.login.remember_me'|trans }}
              </label>
            </div>
          </div>
          #}
          <div style="margin-top:10px" class="form-group">
            <!-- Button -->
            <div class="col-sm-12 controls">
              <a class="btn btn-default" 
                 href="{{ path('fos_user_security_login') }}" 
                 id="btn-cancel" > Annuler 
              <a/>
              <input class="btn btn-success" type="submit" id="_submit" 
                     style="display:none" name="_submit" value="Connexion" />
              <a id="btn-fbcheckclef" href="#" 
                 class="btn btn-primary" 
                 onClick='login_verifKeyAndEmail()'>Valider
              </a>
              <a id="btn-register" href="#" 
                 class="btn btn-primary"  
                 style="display:none" 
                 onClick='dologin_userRegister()'>Créer un compte ?
              </a>
            </div>
          </div>

          <div id="loginfooter" class="form-group">
            <div class="col-md-12 control">
              <div style="border-top: 1px solid#888; 
                   padding-top:15px; font-size:85%">
                Ou
                <a id="a-direct-connect" href="#" 
                   onclick="updateLoginForDirectConnect()">
                  connexion
                </a>
                <a id="a-inscr-seminar" style="display:none" 
                   href="#" onclick="updateLoginForInscrSeminar()">
                  inscription séminaire
                </a>
             {# TODO need help content 
                <span class="pull-right">
                  <a href="#"  > need help ? </a> </span>
              #}
              </div>
            </div>
          </div>    
        </form>     
      </div>                     
    </div>  

  {% endblock fos_user_content %}