{# Note : The index link is different from each user role to redirect him at the right place. #}

    <div class="navbar-header">
{# ADMIN MENU ABOVE #}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="navbar-brand" href="{{ path('_semi_admin_index') }}">{{ projectName }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
{# MANAGER MENU ABOVE #}
    {% elseif is_granted('ROLE_MANAGER') %}
        <a class="navbar-brand" href="{{ path('_semi_manager_index') }}">{{ projectName }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
{# USER MENU ABOVE #}
    {% elseif is_granted('ROLE_USER') %}
        <a class="navbar-brand" href="{{ path('_semi_user_index') }}">{{ projectName }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
{# ANONYMOUS MENU ABOVE #}
    {% else %}
        <a class="navbar-brand" href="{{ path('_semi_default_index') }}">{{ projectName }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{ path('_semi_default_index') }}">Accueil</a></li>
            <li><a href="{{ path('_semi_default_login') }}">Connexion</a></li>
            <li><a href="{{ path('_semi_default_register') }}">Inscription</a></li>
    {% endif %}
{# LOG OUT OPTION #}
    {% if is_granted('ROLE_USER') or is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('logout') }}">Déconnexion</a></li>
    {% endif %}
        </ul>
    </div><!--/.nav-collapse -->