{% if menuItemActive is not defined %}
  {%  set menuItemActive = "" %}
{% endif %}  
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('_semi_default_index')}}">{{ projectName }}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if menuItemActive|default('seminar') == "seminar" %} class="active" {% endif %} >
          <a href="{{ path('_semi_seminar_index') }}">
            Mes séminaires
          </a></li>
        <li {% if menuItemActive == "profil" %} class="active" {% endif %} >
          <a href="{{ path('_semi_user_profil') }}">
            Ma fiche
          </a></li>
        {% if is_granted('ROLE_MANAGER') %}
          <li {% if menuItemActive == "manager" %} class="active" {% endif %} >
          <a href="{{ path('_semi_manager_index') }}">
            Exportation
          </a></li>
        {% endif %}  
      </ul>
      <ul class="nav navbar-nav navbar-right">
                   
        {% if is_granted('ROLE_ADMIN') %}
        <li class="dropdown {% if menuItemActive == "admin" %} active" {% endif %}  ">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li> <a href="{{ path('_semi_admin_users') }}"> admin users</a> <li>  
            <li> <a href="{{ path('_semi_admin_seminars') }}"> admin seminars</a> <li>  
          </ul>
        </li>
        {% endif %}
      {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}          
        <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> <b>({{ app.user.firstname }}  <span class="glyphicon glyphicon-admin"></span>) Deconnexion</b></a></li>
      {% endif %}
         </ul>

      </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>

{# https://github.com/FriendsOfSymfony/FOSUserBundle/blob/master/Resources/doc/overriding_templates.md #}

<div>
  {% block fos_user_content %}
  {% endblock fos_user_content %}
</div>
