{% set menuItemActive = 'seminar' %}
{% extends "SioSemiBundle::layout.html.twig" %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <center><h2>Mes séminaires</h2></center>
      <hr>
      <div id="adminMenu">
        <div class="list-group">
          {% set i = 1 %}
          {% for tab in seminars %}
            {% for seminar in tab %}
              <a href="{{ path('_semi_seminar_index')}}{{ seminar.id }}" class="list-group-item" onMouseOver="overMenu($(this));">
                <h4 class="list-group-item-heading">{{ seminar.name }} <small><i>(Du {{ seminar.dateStart|date("d/m/Y") }} au {{ seminar.dateEnd|date("d/m/Y") }} à {{ seminar.location }} : {{ seminar.comment }})</i></small></h4>
                <br>
                <p class="list-group-item-text">{{ seminar.description }}</p>
              </a>
              {% set i = i + 1 %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}