{% extends "SioSemiBundle::layout.html.twig" %}
{% set menuItemActive = 'seminar' %}

{% block content %}
  {% set oldIdS, oldDateHeureDebut = '', date() %}
  {% set seanceSave = null %}
  {% set strClass = '' %}
  {#
  {% if readOnly is not defined %}
    {% set readOnly = false %}
  {% endif %}
  #}
  <div class="row">
    <div class="col-md-12">
      <div style="text-align: center"><h2>{{ title }}</h2><h3 style="font-style : italic;">{{ description }}</h3></div>
      <hr>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Informations sur mes inscriptions</h3>
        </div>
        <div class="panel-body">
          
          Vous êtes actuellement inscrit(e) à <b><span id='statNbSeanceInscr'>{{ nbMeetingRegister }}</span></b> séances sur ce séminaire.
          
          {% if readOnly %}
            {# TODO readOnly is too large ... specialy when seminar is close.... #}
            <a href="{{ path('_semi_seminar_index_seminar', {'id' : seminar.id}) }}"><span class="glyphicon glyphicon-arrow-left"></span> <b>RETOUR INSCRIPTIONS</b></a>
          {% else %}  
            <a href="{{ path('_semi_seminar_my_meetings', {'id' : seminar.id}) }}"><span class="glyphicon glyphicon-arrow-right"></span> <b>VOIR</b></a>
          {% endif %}
          
          {# attention : duplicate code with semi.js #}
          {% if statNbUsers > 1 %}
          <p>Il y a actuellement <span id='statNbUsers'><b>{{ statNbUsers }}</b> personnes inscrites.</span></p>
          {% else %}
          <p>Il y a actuellement <span id='statNbUsers'><b>{{ statNbUsers }}</b> personne inscrite.</span></p>
          {% endif %}  
        
        </div>
      </div>
      <div id="content">
        {% set i, classSeancesParalleles, oddEvenclass = 0, 'odd_row', 'event_row' %}
        {% for jour, seances in meetings %}
          <h3 id="{{ jour }}"><a href="#{{ jour }}">{{ jour }} : {{ seances|length }} séances</a></h3>
          <div class="table-responsive">
            <table class="table table-hover table-bordered">
              <thead>
                <tr>
                  {% if not readOnly %}<th class="dataTableHeader" style="width:5%;">Je m'inscris</th>{% endif %}
                  <th class="dataTableHeader" style="width:10%;">Disponibilités</th>
                  <th class="dataTableHeader" style="width:10%;">Type</th>
                  <th class="dataTableHeader" style="width:10%;">Horaires</th>
                  <th class="dataTableHeader" style="width:35%;">Seance</th>
                  <th class="dataTableHeader" style="width:30%;">Intervenants</th>
                </tr>
              </thead>
              <tbody>	                 
                {% for seancesHoraire in seances %}
                  {% set seancesParalleles = seancesHoraire|length > 1 %}
                  {% if seancesParalleles %}
                    {% set classSeancesParalleles =  ((classSeancesParalleles == 'odd_row') ? 'even_row' : 'odd_row') %}
                    {% set classInput = 'radio' %}
                    {% set i = i + 1 %}
                  {% else %}
                    {% set classInput = 'checkbox' %}
                    {% set strClass = '' %}
                  {% endif %}
                  {% set isChecked, numLigneMemeHoraire = 'false', 0 %}       
                  {% for seance in seancesHoraire %}
                    {%if seance.register == 1 %}{% set isChecked = 'true' %}{% endif %}
                    {% set oddEvenclass = (seancesParalleles) ? classSeancesParalleles : ((oddEvenclass == 'even_row') ? 'odd_row' : 'even_row') %}
                    {% if seance.type == 'atelier' %}
                      {% set strClass = '_atelier' %}
                    {% endif %}
                    <tr class='{{ oddEvenclass }}{{ strClass }}'> 
                    {% if not readOnly %}
                    <td>
                      <input id='cb{{ seance.id }}' 
                             type='{{ classInput }}' 
                             name='inscrire{{ seancesParalleles ? i : ''}}' 
                             {% if seance.dispo<=0 and seance.idParticipant %}
                               disabled
                             {% else %}
                               onClick='inscrSeance("{{ seance.id }}", "{{ seance.realDateHeureDebut|date('Y-m-d H:i:s') }}", "{{ seance.description | escape('js')}}...", this.checked)' 
                             {% endif %}
                             {% if seance.register == 1 %} checked {% endif %} 
                      />        
                    </td>
                    {% endif %}
                    <td id='{{ seance.id }}'>{{ seance.dispo }} / {{ seance.maxSeats }}{% if seance.dispo <= 0 %} complet{% endif %}</td>
                    <td class='{{ seance.type | e('css') }}'>{{ seance.type }}</td>
                    <td>{{ seance.dateHeureDebut }} - {{ seance.dateHeureFin }}</td>
                    <td>{# if seance.type == 'atelier' %}({{ seance.relativeNumber }}) {% endif #}{{ seance.description  | raw }}</td>
                    <td><ul type="circle" class="listintervenants">{{ seance.stakeholders | raw}}</ul></td>
                    {% set oldIdS, oldDateHeureDebut, seanceSave = seance.id, seance.dateHeureDebut, seance %}
                  </tr>
                  {% endfor %}
                  {% if seancesParalleles and not readOnly  %}
                    <tr class='{{ oddEvenclass }}{{ strClass }}'>                     
                      <td>
                        <input id='cbRAZ{{ oldIdS }}' 
                               type='{{ classInput }}' 
                               name='inscrire{{ (seancesParalleles) ? i : ''}}' 
                               onClick='inscrSeance({{ oldIdS }}, "{{ seanceSave.realDateHeureDebut|date('Y-m-d H:i:s') }}", "Non merci", false)' 
                       {% if isChecked == 'false' %} checked {% endif %}
                         /> 
                      </td>
                      <td>Non merci</td>
                      <td> </td>
                      <td> </td>
                      <td>Non merci</td>
                      <td> </td>
                    </tr>                    
                {% endif %}
                {% if seancesParalleles %}
                  {% set oddEvenclass = classSeancesParalleles %}
                {% else %}
                  {% set classSeancesParalleles = oddEvenclass %}
                {% endif %}
              {% endfor %}
            </tbody> 
          </table>
        </div>
      {% endfor %}
    </div>
  </div>
</div>      
{% endblock %}
{% block javascripts %}
   {{ parent() }}

     <script>
      $('document').ready(function() {      
       {% if app.user and is_granted('ROLE_MANAGER') %}  
          window.setInterval(stateInscrSeance, {{ constant('Sio\\SemiBundle\\SioSemiConstants::TIMER_REFRESH_FREQ') }});
       {% else %}
          stateInscrSeance();           
       {% endif %}
      });
     </script> 
    
});

{% endblock %}